grant {
permission java.awt.AWTPermission "createRobot";
};

grant {
permission java.awt.AWTPermission "listenToAllAWTEvents";
};

grant {
permission java.util.PropertyPermission "mrj.version", "read";
};

grant {
permission java.lang.RuntimePermission "accessDeclaredMembers";
};

grant {
permission java.lang.reflect.ReflectPermission "suppressAccessChecks";
};